name: Build
on: 
  push:
    branches:
      - main
    tags:
    - 'v*'
  pull_request:
    branches:
      - main
env:
  GITHUB_FEED: https://nuget.pkg.github.com/pmdevers/index.json
  GITHUB_USER: pmdevers
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NUGET_FEED: https://api.nuget.org/v3/index.json
  NUGET_KEY: ${{ secrets.NUGET_KEY }}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.x'

      - name: Build
        run: dotnet build -c Release

      - name: Test
        run: |
          for project in test/*/*.csproj; do
            echo "Running tests for $project..."
            dotnet run --project "$project" -c Release
          done

      - name: DotNet Pack
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          arrTag=(${GITHUB_REF//\// })
          VERSION="${arrTag[2]}"
          echo Version: $VERSION
          VERSION="${VERSION//v}"
          echo Clean Version: $VERSION
          dotnet pack -v normal --no-restore -p:PackageVersion=$VERSION --configuration Release --output packages
   
      - name: Upload Artifact
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/upload-artifact@v4
        with:
          name: nupkg
          path: packages/*.nupkg
        
      - name: Create release notes
        uses: johnyherangi/create-release-notes@main
        if: startsWith(github.ref, 'refs/tags/')
        id: create-release-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: ${{ steps.create-release-notes.outputs.release-notes }}
          draft: false
          prerelease: false 

      - name: DotNet NuGet Push  
        if: startsWith(github.ref, 'refs/tags/')
        run: dotnet nuget push "packages/*.nupkg" --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_KEY }} --skip-duplicate --no-symbols    

